body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}

.produto{
background:white;
padding:10px;
margin:10px;
border-radius:8px;
}